<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FeBB</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-inner">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand-crayon" href="/index"><img src="/static/home1.png"></a>
                        {% if 'username' in session %}                                                                                            
                            <a class="navbar-brand-crayon" href="/addarticle"><img src="/static/crayon2.png"></a>
                                {% else%}                             
                            <a tabindex="0" class="navbar-brand-crayon" role="button" data-toggle="popover" data-trigger="focus" title="Merci de bien vouloir vous connecter pour écrire un article. " data-content="Merci !"><img src="/static/crayon2.png"></a>

                                {% endif%}
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Catégories<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/cat1"> Actualité</a>
                                    </li>
                                    <li>
                                        <a href="/cat2"> Lifestyle</a>
                                    </li>
                                    <li>
                                        <a href="/cat3"> Voiture</a>
                                    </li>
                                    <li>
                                        <a href="/cat4"> Humour</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/contact">Contact</a>
                            </li>
                            <li>
                                <a href="/team">Qui sommes nous?</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Autres Pages <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/about">About</a>
                                    </li>
                                    <li>
                                        <a href="/error">404</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                {% if 'username' in session %}
                                <a href="/logout">Déconnection</a>
                                {% else%}
                                <a href="/login">Se connecter</a>
                                {% endif%}
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </div>
        </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/index">Retour à la page d'accueil</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="deroulant" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Carte du site :</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <em>    <ul>
                        <li>
                            <a href="/index">Page d'accueil</a>
                        </li>
                        <li>
                            <a href="/about">Qui sommes-nous?</a>
                        </li>
                        <li>
                            <a href="/contact">Nous contacter</a>
                        </li>
                        <li>
                            Catégories :
                            <ul>
                                <li>
                                    <a href="/cat1"> Actualité </a>
                                </li>
                                <li>
                                    <a href="/cat2"> Lifestyle </a>
                                </li>
                                <li>
                                    <a href="/cat3"> Voiture </a>
                                </li>
                                <li>
                                    <a href="/cat4"> Humour </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    </em>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="deroulant" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Architecture du site :
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <em><img src="/static/Architecture.png"></em>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="deroulant" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Schémas des bases de données :
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <em><img src="/static/SchemaBDD.jpg"></em>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="deroulant" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Compte rendu :</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">

                                <p><span class="marge"></span>Bienvenue sur le site web de la FeBB. La FeBB est un magazine amateur collaboratif qui propose à ses inscrits de tester ses talents d’écrivain/journaliste en publiant des articles sur un thème au choix. Les visiteurs du site peuvent lire tous les articles publiés par les inscrits. Les inscrits peuvent publier des articles, et évaluer les articles des autres afin que chacun puisse mesurer son talent.</p>
                                
                                <p><i>Pour mieux comprendre comment le site fonctionne, voici un détail des structures et méthodes utilisés :</i></p>
                                
                                <p><strong><u>Architecture Front-end :</u></strong></p>
                                
                                <p><span class="marge"></span>L’architecture Front-end du site est basé sur du JavaScript, html, CSS et son framework Bootstrap. L’objectif du site étant de se mettre à la disposition de ses inscrits, nous avons choisi le JavaScript qui permet une meilleure interaction avec l’utilisateur. De plus, nous avons pu développer les connaissances  acquises notamment en cours d’ELP et se familiariser avec le langage certainement le plus utilisés dans le domaine du web.</p>
                                
                                <p><span class="marge"></span>Pour la structure visuelle du site, l’utilisation de Bootstrap nous a permis de gagner du temps et d’obtenir une interface visuelle propre et agréable à l’utilisateur. Pour éviter que le site ait un air banal, nous avons fait une étude poussée des fonctions CSS de Bootstrap. Ainsi en exploitant ces fonctions, nous obtenons un site personnalisé et à l’image de ses développeurs.</p>
                                
                                <p><strong><u>Architecture Back-end :</u></strong></p>
                                
                                <p><span class="marge"></span>L’architecture Back-end du site est basé sur une base de donnée Sqlite et des programmes python, utilisant les frameworks Sqlalchemy et Flask vues en cours de WEB. L’utilisation de Sqlite est détaillé plus bas dans le paragraphe « Base de donnée ». Comme pour le JavaScript, utilisé python nous a permis de développer notre cours de WEB et de ne pas avoir à apprendre un nouveau langage.</p>
                                
                                <p><strong><u>L’interface REST :</u></strong></p>
                                
                                <p><span class="marge"></span>Pour satisfaire l’interface REST, il faut que les responsabilités entre le client et le serveur soient séparées et que chaque requête envoyée au serveur par le client contienne les informations nécessaires à sa compréhension. Les données transférées sont des données JSON lisibles et récupérable par le serveur. On effectue les requêtes de manières asynchrones en utilisant AJAX.</p>

                                <p><strong><u>Découpage de code modulaire</u></strong></p>
                                
                                <p><span class="marge"></span>Notre découpage modulaire est de type Modèle Vue Contrôleur. Il est basé sur plusieurs fichiers Python pour le back end et des pages HTML et feuilles de style CSS pour le Front-end. La relation Front/Back est gérée par des fichiers JavaScript utilisant AJAX.</p>
                                
                                <img class="img-responsive img-portfolio imageflottante" src="/static/mvc.png" alt="">

                                <p><span class="marge"></spang>Principalement, la Vue est constituée de nos pages HTML qui sont décrites par les feuilles de style CSS et dynamisées par nos fichiers JavaScript. En effet, nos fichiers JavaScript contiennent les méthodes utilisant AJAX pour envoyer les requêtes au Contrôleur.</p>
                                
                                <p><span class="marge"></spang>Le Contrôleur est modélisé par un fichier nommé « serveur.py » qui contient toute les routes vers les pages HTML. Il définit aussi le comportement de réponse aux requêtes issues de la Vue.</p>
                                
                                <p><span class="marge"></spang>Le modèle est modélisé par un fichier nommé « methode.py » qui contient les implémentations de toutes les méthodes appelés par « serveur.py ». Ces méthodes effectuent les opérations liées à la base de données. Un fichier « creationDatabase.py » permet de créer la base.</p>
                                
                                <p><span class="marge"></spang>En résumé, l’utilisateur lance son navigateur et tape l’URL de notre site. Une requête http avertit notre « serveur.py » qui retourne la Vue (page HTML demandée). Puis l’utilisateur navigue sur la page et, en cliquant, envoie des requêtes AJAX à « serveur.py ». Afin de satisfaire l’utilisateur, « serveur.py » appel une méthode de « methode.py » qui cherche dans la base de donnée. Quand les données sont prêtes « serveur.py » les envoie (données JSON) à la Vue (page HTML).</p>

                                <p><strong><u>Base de données</u></strong></p>
                                <img class="img-responsive img-portfolio imageflottante" src="/static/SchemaBDD2.jpg">
                                <p><span class="marge"></spang>Pour l’utilisation de notre site,  nous n’avons pas besoin d’utiliser une base mySQL qui aurait été difficile à mettre en place. Pour simplifier et continué à profiter de nos cours de WEB, nous avons utilisé une base de données Sqlite. Elle se nomme database.db et est créée lors du lancement de creationDatabase.py .</p>


                                <p><span class="marge"></spang>On rappelle ci-contre le schéma de nos bases de données.</p>

                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.panel-group -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright FeBB&copy; Magazine 2015, INSA de Lyon</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

</body>

</html>