<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FeBB</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body background="">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-inner">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                         <a class="navbar-brand-crayon" href="/index"><img src="/static/home1.png"></a>
                        {% if 'username' in session %}                                                                                            
                            <a class="navbar-brand-crayon" href="/addarticle"><img src="/static/crayon2.png"></a>
                                {% else%}                             
                            <a tabindex="0" class="navbar-brand-crayon" role="button" data-toggle="popover" data-trigger="focus" title="Merci de bien vouloir vous connecter pour écrire un article. "><img src="/static/crayon2.png"></a>

                                {% endif%}
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Catégories<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/cat1" id="Actualité"> Actualité</a>
                                    </li>
                                    <li>
                                        <a href="/cat2"> Lifestyle</a>
                                    </li>
                                    <li>
                                        <a href="/cat3"> Voiture</a>
                                    </li>
                                    <li>
                                        <a href="/cat4"> Humour</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/contact">Contact</a>
                            </li>
                            <li>
                                <a href="/team">Qui sommes nous?</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Autres Pages <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/about">About</a>
                                    </li>
                                    <li>
                                        <a href="/error">404</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                {% if 'username' in session %}                                                                                            
                                <a href="/logout">Déconnection <strong>{{ session.mail}}</strong></a>
                                {% else%}
                                <a href="/login">Se connecter</a>
                                {% endif%}
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </div>
        </nav>

        <!--
        <div class="container">
            <div class="vide">
                <h1><font face="vtks study"> Le magazine amateur le plus stylé qu'il soit</font></h1>
            </div>
        </div>
    -->
        <!-- Header Carousel -->
        <header id="myCarousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <a href="/faq"><div class="fill" style="background-image:url('http://images2.alphacoders.com/669/66982.jpg');"></div></a> 
                    <div class="carousel-caption">
                        <h2> <a class="lienCarrousel" href="/about">About</a></h2>
                    </div>
                </div>
                <div class="item">
                    <a href="/contact"><div class="fill" style="background-image:url('http://fc07.deviantart.net/fs70/f/2012/207/4/9/tech_a_wallpaper_1900x1080_by_n7revenant-d58pqef.png');"></div></a>
                    <div class="carousel-caption">
                        <h2><a class="lienCarrousel" href="/contact">Contact</a></h2>
                    </div>
                </div>
                <div class="item">
                    <a href="/login" target="_blank"> <div class="fill" style="background-image:url('http://blog.lenycom.com/wp-content/gallery/wallpaper2/1091154011.jpg');"></div></a>
                    <div class="carousel-caption">
                        <h2><a class="lienCarrousel" href="/login">Connecte toi !</a></h2>
                    </div>
                </div>
            </div>

            <hr>


        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->

     {% if 'username' in session %}

     <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <center><h2 class="page-header">Bonjour <strong>{{session.username }}</strong> </h2></center>
            </div>
            <div class="col-md-16">
                    
                    <font size=3>
                    <p>
                        
                        <center><h3><strong>Votre compte</strong></h3></center>
                        
                        <div class="textGauche">
                            <strong>Informations à propos de vous :</strong>
                            <ul>
                                <li>Tu es enregistre sous le nom de : <strong><i>{{ session.prenom}} {{session.nom}}</i></strong> </li>
                                <li>Ton mail est : <strong><i>{{session.mail}}</i></strong></li>
                                <li>Tu as <strong><i>{{session.age}}</i></strong> ans</li>
                            </ul>
                        </div>  


                        <div class="textDroite">
                            <strong>Informations à propos de votre compte :</strong>
                            <ul> 
                                <li>Tu as <strong>4</strong> articles écrits</strong></li>
                                <li>Tes articles ont été lus <strong> 0 </strong> fois.</li>
                                <li>Tu as <strong>0</strong> fans.</li>
                            </ul>
                        </div>

                        <center><img class="img-responsive img-circle" src="http://www.celeste.fr/images/stories/images/web/monde-connecte.png" alt=""></center>

                    </p>
                    </font>

            </div>

        </div>       
        {% else%}
        <div class="container">

        <div class="row">
            <center>
                <div class="col-lg-12">
                    <h1 class="page-header">FeBB Magazine</h1>
                </div>
            </center>
            <div class="col-md-6">
                
                <p><strong>FeBB c'est l'opportunité de :</strong></p>
                <ul>
                    <li>Publier des articles.</li>
                    <li>Se faire connaître et reconnaître pour son travail.</li>
                    <li>Apprendre du style des autres.</li>
                    <li>D'épanouir son plaisir de lecture.</li>
                    <li>D'être à jour avec l'actualité.</li>
                    <li>De découvrir de nouvelles choses et domaines.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-circle" src="http://web2vie.com/wp-content/uploads/JNTU-EXPRESS-Welcome.jpg" alt="">
            </div>
        </div>
        {% endif%}

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Les articles populaires du moment :
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 id="titreArticle1"><i class="fa fa-fw fa-check" on ></i></h4>
                    </div>
                    <a href="/item" name="lienarticle" id="0" onclick="get_classement(this.id)">
                    <div id="urlimage1" class="imageflottante" ></div>

                    </a>
                    <div class="panel-body">
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 id="titreArticle2"><i class="fa fa-fw fa-check"></i></h4>
                    </div>

                    <a href="/item" name="lienarticle" id="1" onclick="get_classement(this.id)">
                    <div id="urlimage2" class="imageflottante"></div>

                    </a>
                    <div class="panel-body">
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 id="titreArticle3"><i class="fa fa-fw fa-check"></i></h4>
                    </div>

                    <a href="/item" name="lienarticle" id="2" onclick="get_classement(this.id)">
                                            <div id="urlimage3" class="imageflottante"></div>
                    </a>

                    <div class="panel-body">
                        <p></p>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Autres articles</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="/item">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="/item">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="/item">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="/item">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="/item">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="/item">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
        </div>
        
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright FeBB&copy; Magazine 2015, INSA de Lyon</p>
                </div>
            </div>
        </footer>
        <!-- /.row -->

        <!-- Features Section -->
        
        <!-- /.container -->

        <!-- jQuery -->
        
        <script src="/static/js/jquery.js"></script>
        
        <!-- Bootstrap Core JavaScript -->
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/login.js"></script>
        <script src="/static/js/getarticleindex.js"></script>

        <!-- Script to Activate the Carousel -->
        <script>
        $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
        </script>

    </body>

    </html>
