<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FeBB</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body background="">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-inner">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                         <a class="navbar-brand-crayon" href="/index"><img src="/static/home1.png"></a>
                        {% if 'username' in session %}                                                                                            
                            <a class="navbar-brand-crayon" href="/addarticle"><img src="/static/crayon2.png"></a>
                                {% else%}                             
                            <a tabindex="0" class="navbar-brand-crayon" role="button" data-toggle="popover" data-trigger="focus" title="Merci de bien vouloir vous connecter pour écrire un article. "><img src="/static/crayon2.png"></a>

                                {% endif%}
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Catégories<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/cat1" id="Actualité"> Actualité</a>
                                    </li>
                                    <li>
                                        <a href="/cat2"> Lifestyle</a>
                                    </li>
                                    <li>
                                        <a href="/cat3"> Voiture</a>
                                    </li>
                                    <li>
                                        <a href="/cat4"> Humour</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/contact">Contact</a>
                            </li>
                            <li>
                                <a href="/team">Qui sommes nous?</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Autres Pages <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/about">About</a>
                                    </li>
                                    <li>
                                        <a href="/error">404</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                {% if 'username' in session %}                                                                                            
                                <a href="/logout">Déconnection <strong>{{ session.mail}}</strong></a>
                                {% else%}
                                <a href="/login">Se connecter</a>
                                {% endif%}
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </div>
        </nav>

        <!-- Page Content -->
        <div class="container">

          <!-- Page Heading/Breadcrumbs -->
          <div class="row">
             <div class="col-lg-12">
                <h1 class="page-header">Se connecter
                   <small>FeBB Magazine</small>
               </h1>
               <ol class="breadcrumb">
                   <li><a href="/index">Retour à la page d'accueil</a>
                   </li>
                   <li class="active">Se connecter</li>
               </ol>
           </div>
       </div>
       <!-- /.row -->

       <!--<div class="row">
         <div class="col-xs-12">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %} -->
            <form id="monForm" class="form-inline" role="form">
               <div class="form-group">
                  <label class="sr-only" for="pseudo1">Login</label>
                  <input type="text" class="form-control" name="pseudo1" id="pseudo1" placeholder="Enter Pseudo">
              </div>
              <div class="form-group">
                  <label class="sr-only" for="password">Password</label>
                  <input type="password" class="form-control" name="password1" id="password1" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary" >Sign up</button>
          </form>
          <span id="erreurLogin" class="erreurform"></span>
      </div>
  </div>

  <hr>

  <div class="container">

     <!-- Page Heading/Breadcrumbs -->
     <div class="row">
        <div class="col-lg-12">
           <h1 class="page-header"> Pas de compte ?
              <small> Inscription </small>
          </h1>
      </div>
  </div>

  <form id="inscription" class="form-inline" role="form" onsubmit="return verifForm(this)">
    <div class="form-group">
       <label class="sr-only" for="Prénom">Prénom</label>
       <input type="text" class="form-control" name="prenom" id="prenom" placeholder="Prénom" onBlur="verifName(this)" required>
       <span id="erreurName" class="erreurform"></span> <span id="validName" class="validform"></span> 
   </div>

   <hr>

   <div class="form-group">
       <label class="sr-only" for="Nom">NOM</label>
       <input type="text" class="form-control" name="nom" id="nom" placeholder="Nom de famille" onBlur="verifName(this)" required>
       <span id="erreurName" class="erreurform"></span>  <span id="validName" class="validform"></span> 
   </div>

   <hr>

   <div class="form-group">
       <label class="sr-only" for="Pseudo">Pseudo</label>
       <input type="text" class="form-control" name="pseudo" id="pseudo" placeholder="Pseudo" onBlur="verifPseudo(this)" required>
       <span id="erreurPseudo" class="erreurform"></span>  <span id="validPseudo" class="validform"></span>
   </div>

   <hr>

   <div class="form-group">
       <label class="sr-only" for="mail">Mail</label>
       <input type="text" class="form-control" name="mail" id="mail" placeholder="Adresse mail" onBlur="verifMail(this)" required> 
       <span id="erreurMail" class="erreurform"></span> <span id="validMail" class="validform"></span>
   </div>

   <hr>

   <div class="form-group">
       <label class="sr-only" for="Age">Age</label>
       <input type="text" class="form-control" name="age" id="age" placeholder="Âge" onBlur="verifAge(this)" required> 
       <span id="erreurAge" class="erreurform"></span> <span id="validAge" class="validform"></span>

       <hr>

       <div class="form-group">
          <label class="sr-only" for="password">Mot de passe</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="Mot de passe" onBlur="verifPassword(this)" required>
          <span id="erreurPassword" class="erreurform"></span> <span id="validPassword" class="validform"></span>
      </div>

      <hr>

      <button type="submit" class="btn btn-primary">Sign in</button>

  </form>
</div>
</div>


<!-- Footer -->
<footer>
 <div class="row">
    <div class="col-lg-12">
       <p>Copyright FeBB&copy; Magazine 2015, INSA de Lyon</p>
   </div>
</div>
</footer>
<!-- /.row -->

<!-- Features Section -->

<!-- /.container -->

<!-- jQuery -->
<script src="/static/js/jquery.js"></script>
<!-- Login.js -->
<script src="/static/js/login.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/js/bootstrap.js"></script>

</body>
</html>						
